@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-principal: #213e95;
    --cor-texto: blanchedalmond;
    --cor-destaque: #F29829;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;

}


html {
    scroll-behavior:smooth;
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #c5d3ff;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    color: aliceblue;
    background-color: var(--cor-principal);
    position: fixed;
    border-radius: 0 0 30px 30px;
    box-shadow: 1px 3px 3px black;
    border: #F29829 3px 3px;
    top: 0;
    left: 0;
    z-index: 1000;
}



/*----------LOGO-----------*/

.logo {
    height: 80px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.logo img {
    height: 130px;
    margin-right: 20px;


}

.logo h1 {
    width: 100%;
    color: #F29829;
    text-shadow: 20cm 20cm black;
    padding-top: 17px;
    font-size: 47px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: #000000 5px 3px 2px;

}

/*-------------MENU------------*/
.menu {
    width: 650px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.menu ul {
    display: flex;
    align-items: center;
}

/*Especividade*/
.menu ul li a {
    color: blanchedalmond;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 600;


}

.menu ul li a:hover {
    border-radius: 10px;
    color: var(--cor-destaque);
    transition: 0.3s ease-out;
    box-shadow: #0000007d 3px 2.5px 2px;
    background-color: #1a3070;


}



/*--------------------Seção home--------------------*/

.linha_home {
    width: 100%;
    height: 100vh;
    background-image: url(assets/com\ sombra.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-attachment: fixed;
    border-radius: 50px 50px 50px;
    box-shadow: #00000080 4px 4px 4px;
}


.linha_home h1 {
    margin-top: 36px;
    font-size: 60px;
    color: #f2f2f2;
    text-shadow: 5px 5px 5px black;
    padding-left: 45px;
}


.linha_home h3 {
    font-size: 25px;
    text-shadow: 5px 5px 5px rgb(28, 41, 111);
    padding-left: 45px;
    color: blanchedalmond;
}

.container {
    width: 1200px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 20px;
    gap: 20px;
    background-color: #213e95;
    margin-top: 40px;
    border: #000000 solid 5px;
    border-radius: 20px 20px 20px 20px;
    transition: 0.8s ease-in-out;
    

}

.container:hover{
    box-shadow: #F29829 2px 4px 2px ;
    transform: scale(1.005);

}

.container_porcao img {
    max-width: 280px;
    height: 98%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;

}


.container_home {
    width: 1200px;
    min-height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;


}

.container h1 {
    font-size: 100px;
    text-align: center;
    color: #F29829;
    text-shadow: black 2px 2px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding-bottom: 20px;


}

.container hr {
    width: 100%;
    height: 1px;
    background-color: var(--cor-texto);

}


.container hr:hover {
    width: 100%;
    height: 3px;
    background-color: rgb(41, 41, 59);
}



.linha {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}




/*-------------------- Rodapé ----------------*/
footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    background-color: var(--cor-principal);
    color: aliceblue;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-shadow: #00000081 3px 3px 3px;
    border-radius: 10px 10px 0px 0px;
}

footer h2 {
    margin-top: 20px;
    font-size: 40px;

}

.col_rd {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.col_rd img {
    width: 150px;
    height: 150px;

    margin-right: 25px;

}

.cardapio {
    padding-top: 10px;
    display: flex;
    border-radius: 9px;
    width: 95%;
    height: 240px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 4px rgb(41, 41, 86);
    background-color: rgba(0, 0, 0, 0.781);
    color: blanchedalmond;
    transition: 1s ease-in-out;



}

.cardapio:hover {
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0.781);
    box-shadow: #F29829 1px 2px;

}

.cardapio img {
    max-width: 280px;
    height: 98%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.cardapio h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardapio button{
    border: #000000 2px solid;
    border-radius: 10px 10px 10px 10px;
    background-color:#1a2f7039;
    width: 200px;
    height: 50px;
    color: blanchedalmond;
    font-size: 15px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}




.texto h2 {
    width: 100%;
    text-align: center;
    padding-left: 25px;
    color: #F29829;
    font-size: 40px;
    text-shadow: #fda02e4e 2px 2px 2px;
}


.texto p {
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 17px;
}
